.modal {
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 20vh;
  left: 5%;
  border: 2px solid ;
  border-radius: 5px;
  border-color: #6DCCA3;
}

.modal__header h1{
  display: block;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal__header {
  padding: 1rem;
  background: #6DCCA3;
  color: white;
}
  

  
.modal__content {
  padding: 1rem;
}
  
.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.modal__actions button{
  color: #6DCCA3;
  background: #fff !important;
  border-radius: 5px;
  border-color: #6DCCA3;
  padding: 8px 20px;
  margin-right: 10px;
  transition: all 0.3s ease-out;
}


.modal__actions button:hover {
  transition: all 0.3s ease-out;
  background: #6dcca3 !important;
  color:#fff;
  transition: 250ms;
}
  @media (min-width: 768px) {
    .modal {
      width: 30rem;
      left: calc((100% - 30rem) / 2);
    }
  }