h2 {
    margin-top: 40px;
    color: #6DCCA3;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 30px;
}

.events-control {
    text-align: center;
    border: 2px solid ;
    border-radius: 5px;
    border-color: #6DCCA3;
    padding: 2rem;
    margin: 2rem auto;
    width: 30rem;
    max-width: 80%;
}

.modal__header {
    height: 60px;
}


.events__list {
  margin-top: 2rem;
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

.events__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #6DCCA3;
}

.events-control button{
  color: #6DCCA3;
  background: #fff !important;
  border-radius: 5px;
  border-color: #6DCCA3;
  padding: 8px 20px;
  margin-top: 20px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}


.events-control button:hover {
  transition: all 0.3s ease-out;
  background: #6dcca3 !important;
  color:#fff;
  transition: 250ms;
}